<section class="display">
  <iframe src="<%= screen.url %>"></iframe>
  
  <% unless screen.url.present? %>
    <div class="welcome-message">
      <div class="content">
        <h1>Welcome to Screenorama</h1>
        <p>This device is <strong><%= screen.short_device_id %></strong></p>
        <p>Visit the dashboard to configure this screen</p>
      </div>
    </div>
  <% end %>
</section>

<script type="text/javascript">
<!--

$(function(){
  new Screenorama.Display({
    el: $('iframe'),
    lastRequestedAtUrl: '<%= last_requested_at_screen_path(screen, format: 'json') %>',
    dataSource: '<%= screen_path(screen, format: 'json') %>'
  });
});

-->
</script>
