<section class="screen">
  <h1><%= name_and_device_id(screen) %></h1>
  <h2><%= screen.url %></h2>

  <div class="status">
    <% if screen.online? %>
      Currently online
    <% elsif screen.last_requested_at.present? %>
      Last online: <%= time_ago_in_words(screen.last_requested_at) %> ago
    <% else %>
      Never been online
    <% end %>
  </div>

  <%= link_to 'Edit', edit_screen_path(screen) %>
</section>
