.display {
  background: #333;

  iframe {
    @include scale(2.0);

    position: absolute;
    margin: 0;
    border: none;
    width: 50%;
    height: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .welcome-message {
    background: #f6f6f6;
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;

    .content {
      margin: auto;
      width: 700px;
      text-align: center;
      font-size: 31px;
      margin-top: 120px;

      strong {
        display: block;
      }
    }
  }

}
