.screen {
  h1 {
    margin: 0;
    font-size: 35px;

    .device-id {
      font-size: 23px;
      color: $secondary_text_color;
    }
  }

  h2 {
    font-size: 17px;
    margin: 0 0 20px;
    font-weight: normal;
    color: $secondary_text_color;
  }

  form {
    margin: 30px 0;
  }

  .preview {
    margin: 0 auto 40px;
    width: 500px;
    height: 300px;

    iframe {
      @include scale(0.25);
      width: 2000px;
      height: 1200px;
      background: #000;
      border: 15px solid $border_color;
      overflow: hidden;
    }
  }
}


.status {
  background: #fff;
  padding: 7px 12px;
  font-size: 17px;
  color: $main_color;
  position: absolute;
  top: 30px;
  right: 20px;
}
