.screens-grid {
  li {
    list-style: none;
    display: inline;

    a {
      display: inline-block;
      width: 30%;
      height: 150px;
      position: relative;

      background: #fff;
      color: $main_color;
      text-decoration: none;
      padding: 8px;
      margin-bottom: 4px;
      vertical-align: top;

      &:hover {
        background: #f6f6f6;
      }

      .device-id {
        display: block;
        font-size: 15px;
      }

      .inline-status {
        position: absolute;
        bottom: 8px;
        font-size: 16px;
        color: #888;
        padding-left: 0px;

        &::before {
          content: " ";
          display: inline-block;
          width: 11px;
          height: 11px;
          border-radius: 3px;
          border: 2px solid #aaa;
          margin: 3px 6px 0 0;
          vertical-align: top;
        }

        &.online::before {
          border-color: #0dcf4d;
        }
      }
    }

  }
}
