<ul>
  <% screens.each do |screen| %>
    <li <%= screen_classes(screen) %>>
      <%= link_to screen_path(screen) do %>
        <span class="icon" aria-hidden="true"></span>
        <%= name_and_device_id(screen) %>
      <% end %>
    </li>
  <% end %>
</ul>
